# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of the month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12)
# │ │ │ │ ┌───────────── day of the week (0 - 6) (Sunday to Saturday;
# │ │ │ │ │                                   7 is also Sunday on some systems)
# │ │ │ │ │
# │ │ │ │ │
# * * * * * <command to execute>



# Eth Monitor
# * * * * * /usr/local/onomy-monitor/monitor.js eth mainnet >> /var/log/lila/healthcheck.log 2>&1

# Onomyd Monitor
# * * * * * /usr/local/onomy-monitor/monitor.js onomy mainnet >> /var/log/lila/healthcheck.log 2>&1

# Onomyd Orchestrator Monitor
# * * * * * /usr/local/onomy-monitor/monitor.js onomy_orchestrator mainnet >> /var/log/lila/healthcheck.log 2>&1



